html, body {
    margin: 0;
    padding: 0;
}



header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: #E4E0E1;
    height: 141px;
}

header img.cup  {
    height: 105px;
    width: 84px;
}

header img.letter  {
    height: 51px;
    width: 214px;
}

nav {
    background-color: #D6C0B3;
    height: 61px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

nav div.navbar{
    margin-left: 385px;
    margin-right: 385px;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

nav a {
    font-family: "Gabarito", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #271D15;
}

main div.banner {
    background-image: url(recursos/img_fond_sec1.png);
    background-size: 100% auto;
    height: 940px;
    padding-top: 155px;
    padding-left: 72px;

}

main div.bantext {
    width: 712px;
    height: 409px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
  

}

main h2.ban {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    font-size: 64px;
    color: #E4E0E1;
    margin: 0;
}



main h2.ban img.banimg {
    width: 309px;
    height: 81px;
    margin-bottom: -20px;
}


main p.bancont {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #E4E0E1;
    width: 582px;
    height: 40px;
}

main div.banner button.banbut {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    backdrop-filter: blur(5px); /* Desenfoque */
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    border: 0.8px solid #E4E0E1; /* Borde ligero */
    transition: background-color 0.3s ease; /* Transición suave */
    color: #E4E0E1; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado */
    width: 208px;
    height: 63px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    align-self: center;
}

main div.about {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;   
    height: 1024px; 
    padding: 60px 74px 92px 142px ;
    background-color: #E4E0E1;
}

main img.aboutimg {
    width: 484px;
    height: 726px;
    margin-right: 83px;
    border-radius: 50px;
}

main div.abouttext {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
    text-align: right;
}

main h2.abouth2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #493628;
    margin: 0;
    
}

main h3.aboutsub {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #493628;
}

main p.aboutparraf {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #493628;

}

.strong {
    font-weight: 800;
}

main p.aboutcursiv {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #493628;
    text-align: center;
    margin-bottom: 10px;
}

main img.aboutlogo {
    width: 123px;
    height: 117px;
    align-self: center;
}

main div.galery{
    background-color: #D6C0B3;
    height: 1024px;
    text-align: center;
}

main h2.galeryh2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 52px;
    color: #493628;
    margin-top: 0px;
    padding-top: 60px;
}

main table.galerytab {
    padding-left: 92.5px;
    padding-right: 92.5px;
}

main table.galerytab img {
    width: 267px;
    height: 348px;
    border-radius: 40px;
}

main table.galerytab th {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    color: #493628;
    padding-top: 27px;
    padding-bottom: 24px;
}

main table.galerytab td {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 60px;
    padding-right: 60px;
    vertical-align: top;
}


 

